{% load static%}
<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: teal">
    <div class="container">
    <a class="navbar-brand" href="index.html">
        <img src="{% static 'img/logo.svg' %}" class="logo" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
        <li 
            {% if '/' == request.path %}
                class="nav-item active mr-3"
            {% else %}
                class="nav-item mr-3"
            {% endif %}
            >
                <a class="nav-link" href="{% url 'profiles' %}">Home</a>
        </li>
        <li
            {% if 'about' in request.path %}
                class="nav-item active mr-3"
            {% else %}
                class="nav-item mr-3"
            {% endif %}
        
        >
            <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        
        </ul>

        <ul class="navbar-nav ml-auto">
            {% if request.user.is_authenticated %}
                {% if request.user.profile.user_type == 'Teacher' %}
                <li
                        {% if '/' in request.path %}
                            class="nav-item active mr-3"
                        {% else %}
                            class="nav-item mr-3"
                        {% endif %}
                    >
                    <a class="nav-link" href="{% url 'index' %}">Student Stats</a>

                </li>
                <li>
                    <a class="nav-link" href="/admin/pages/question/add/">Add Question</a>
                </li>
                {% endif %}

                <li class="nav-item mr-3">
                    <a class="nav-link" href="{% url 'logoutUser' %}">
                    <i class="fas fa-sign-in-alt"></i>

                    Logout</a>
                </li>
                
                {% else %}
                <li class="nav-item mr-3">
                    <a class="nav-link" href="{% url 'loginUser' %}">
                    <i class="fas fa-sign-in-alt"></i>

                    Login</a>
                </li>
            {% endif %}
        
        </ul>
    </div>
    </div>
</nav>