{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h2>Simple Quiz App</h2>
    <p class="description">
        In today's digital world, learning is becoming simpler with the help of technology.
        Introducing an easy-to-use quiz app designed for teachers and students.
    </p>
    
    <div class="features">
        <h2>Features</h2>
        <ul>
            <li>Teachers can create multiple type question.</li>
            <li>Students can log in, take the quiz, and result will show to students dashboard.</li>
            <li>Results sent directly to the teacher via email.</li>
        </ul>
    </div>
</div>

<style>
    
    .features {
        margin-top: 30px;
    }
    
    .features h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    
    .features ul {
        list-style: none;
        padding: 0;
        text-align: left;
    }
    
    .features li {
        font-size: 16px;
        margin-bottom: 10px;
    }
</style>
{% endblock %}
