{% extends 'base.html' %}

{% block content %}

  <!-- Main Content -->
      <!-- Cards -->
      <div class="col-md-8">
        <div class="row">
          <!-- First Card -->
          <div class="col-md-6 mb-3">
            {% for category in categories %}
            <div class="card">

                <div class="card mt-3">
                  <div class="card-body">
                    <h5 class="card-title">{{ category }}</h5>
                    <p class="card-text">Are you in for a {{ category }} challenge?</p>
          
                    <div class="d-flex flex-wrap justify-content-between mb-2">
                      {% for subcategory in category.subcategory_set.all %}
                        <a href="{% url 'index' category=category.id subcategory=subcategory.id %}" class="btn btn-info btn-sm" style="margin: 5px;"> {{ subcategory.name }}
                        </a>
                      {% endfor %}
                    </div>
                  </div>
                </div>
            </div>
            {% endfor %}

          </div>
          
          <!-- Add more cards as needed -->
      <!-- Contact Form and Advertisement -->
      <div class="col-md-4">
        <div class="row mb-3">
          <div class="col-md-12">
            <!-- Contact Form -->
            <div class="card">
              <div class="card-body">
                <!-- Contact Form Content -->
                Contact Form
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <!-- Advertisement Box -->
            <div class="advertisement">
              <!-- Advertisement Content -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}