{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="card-deck">
        {% for category in categories %}
        <div class="card mt-3">
            <div class="card-body">
                
                <h5 class="card-title">{{ category }}</h5>
                <p class="card-text">Are you in for a {{ category }} challenge?</p>
              </div>
              <div class="card-footer">
                <a href="{% url 'index' category=category %}" class="btn btn-info">View Questions</a>
              </div>
        </div>
        {% endfor %}
        {% comment %} <div class="card mt-3">
            <div class="card-body">
                
                <h5 class="card-title">All Question</h5>
                <p class="card-text">Are you in for an All MAth Category challenge?</p>
              </div>
              <div class="card-footer">
                <a href="{% url 'index' allquestion=allquestion %}" class="btn btn-info">View Questions</a>
              </div>
        </div> {% endcomment %}
        
    </div>
</div>
{% endblock %}
