{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    {% include 'partials/_alert.html' %} 
</div>      

    <div class="container-fluid mt-5">
        <h3>Welcome {{ request.user.profile.name }}!</h3>
    </div>

    <section id="profiles">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Subjects</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Teacher</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for category in categories %}
                                    {% for subcategory in category.subcategory_set.all %}
                                        <tr>
                                            {% if subcategory.is_active and subcategory.exam_date and subcategory.exam_time %}
                                            <td>
                                                <a href="{% url 'index' category=category.id subcategory=subcategory.id user_id=request.user.id %}" class="btn btn-info btn-sm mr-2 mb-2">{{ subcategory.name }}</a>
                                            </td>
                                            <td>{{ subcategory.exam_date }}</td>
                                            <td>{{ subcategory.exam_time }}</td>
                                            <td>{{ subcategory.created_by.profile.name }}</td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <p></p>
    <p></p>

    <section id="stats">
        <div class="container-fluid">
            <div class="row">

                <div class="col">
                    {% if studstats %}

                    <div class="card">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Subject</th>
                                    <th>Teacher</th>
                                    <th>Exam Date and Time Finished</th>
                                    <th>Score</th>
                                    <th>Percentage</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for studstat in studstats %}
                                    <tr>
                                        <td>{{ studstat.subcategory.name }}</td>
                                        <td>{{ studstat.category.created_by.profile.name }}</td>
                                        <td>{{ studstat.date_finish }}</td>
                                        <td>{{ studstat.score }}</td>
                                        <td>{{ studstat.score_percentage }} %</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                    </div>
                    {% else%}
                    <p>Note: All your Exam result will show here!</p>
                {% endif %}
                </div>
                
            </div>
        </div>
    </section>
{% endblock %}
